/*makes horizontal list*/

ul.menu li {
    display: inline;
    padding-right: 70px;
    padding-top: 500px;
}

/*seperates the images*/
img {
    padding-left: 40px;
    padding-right: 10px;
    padding-top: 30px;
}

/*changes link color*/

a {
    color: rgb(250, 250, 200);
}

/*changes background color and font as well as making the text center*/

body {
    background-color: rgb(0, 50, 50);
    color: rgb(240, 250, 250);
    font-family: courier;
    text-align:center;

}